<nb-layout>
  <nb-layout-column>
    <div class="login-container">
      <nb-card>
        <nb-card-header>Recuperar contraseña</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

            <nb-input-group>
              <label for="documentNumber">
                <nb-icon icon="unlock-outline"></nb-icon>
                Documento</label>
              <input formControlName="documentNumber" nbInput type="text" />
              <div *ngIf="isFieldInvalid('documentNumber', 'required')" class="error-message">
                El documento es requerido
              </div>
              <div *ngIf="isFieldInvalid('documentNumber', 'minlength')" class="error-message">
                El nombre debe tener al menos 3 caracteres
              </div>
            </nb-input-group>

            <nb-input-group>
              <label for="email">
                <nb-icon icon="unlock-outline"></nb-icon>
                Correo electronico</label>
              <input formControlName="email" nbInput type="email" />
              <div *ngIf="isFieldInvalid('email', 'required')" class="error-message">
                El correo es requerido
              </div>
            </nb-input-group>

            <nb-input-group>
              <label for="telephone">
                <nb-icon icon="unlock-outline"></nb-icon>
                Teléfono</label>
              <input formControlName="telephone" nbInput type="number" />
              <div *ngIf="isFieldInvalid('telephone', 'required')" class="error-message">
                El teléfono es requerido
              </div>
              <div *ngIf="isFieldInvalid('telephone', 'minlength')" class="error-message">
                El nombre debe tener al menos 3 caracteres
              </div>
            </nb-input-group>

            <button [disabled]="loginForm.invalid" nbButton status="success">
              Recuperar
            </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
