<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>Recuperar contraseña</nb-card-header>
      <nb-card-body>
        <form [formGroup]="loginForm" (ngSubmit)="recoveryPassword()">
          <div>
            <nb-input-grou>
              <nb-form-field>
                <input
                  nbInput
                  formControlName="email"
                  placeholder="Ingrese correo"
                  type="email"
                />
              </nb-form-field>
            </nb-input-grou>
            <nb-input-grou>
              <nb-form-field>
                <input
                  nbInput
                  formControlName="telephone"
                  placeholder="Teléfono"
                  type="number"
                />
              </nb-form-field>
            </nb-input-grou>
          </div>
          <br />
          <button
            nbButton
            type="submit"
            [disabled]="loginForm.invalid"
            status="success"
          >
            Recuperar contraseña
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
