.dropzone {
  width: min(100%, 350px);
  background-color: aliceblue;
  border: 2px dashed #ccc;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  p {
    margin: 0;
    font-size: 1.2rem;
  }

  button {
    margin-top: 1rem;
  }
}

.selected-files {
  margin-top: 2rem;
  width: 300px;

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  button {
    margin-top: 1rem;
  }
}
