<nb-card>
  <nb-card-body>
    <div
      (dragleave)="onDragLeave($event)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      class="dropzone"
    >
      <p>Arrastra y suelta aquí tus archivos</p>
      <button (click)="fileInput.click()" nbButton status="primary">
        Seleccionar archivos
      </button>
      <input
        #fileInput
        (change)="onFileSelected($event)"
        hidden
        multiple
        type="file"
      />

      <div
        *ngIf="selectedFiles.length > 0"
        class="selected-files"
        style="text-overflow: ellipsis"
      >
        <p>Archivos seleccionados:</p>
        <ul>
          <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
        </ul>
        <button (click)="uploadFiles()" nbButton status="primary">Subir</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
