<nb-layout>
  <nb-layout-column>
    <div class="login-container">
      <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">
                <nb-icon icon="person-outline"></nb-icon> Username</label
              >
              <input
                type="text"
                nbInput
                id="username"
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label for="password">
                <nb-icon icon="unlock-outline"></nb-icon> Password</label
              >
              <input
                type="password"
                nbInput
                id="password"
                formControlName="password"
              />
            </div>
            <button nbButton status="success" [disabled]="loginForm.invalid">
              Login
            </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
