<nb-layout>
  <nb-layout-column>
    <div class="login-container">
      <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">


            <nb-input-group>
              <label for="password">
                <nb-icon icon="unlock-outline"></nb-icon>
                Documento</label>
              <input formControlName="documentNumber" nbInput placeholder="Nombre" />
              <div *ngIf="isFieldInvalid('documentNumber', 'required')" class="error-message">
                El Documento es requerido
              </div>
              <div *ngIf="isFieldInvalid('documentNumber', 'minlength')" class="error-message">
                El nombre debe tener al menos 3 caracteres
              </div>
            </nb-input-group>
            <nb-input-group>
              <label for="password">
                <nb-icon icon="unlock-outline"></nb-icon>
                Password</label>
              <input formControlName="password" id="password" nbInput type="password" />
              <div *ngIf="isFieldInvalid('password', 'required')" class="error-message">
                La contraseña es requerida
              </div>
              <div *ngIf="isFieldInvalid('password', 'minlength')" class="error-message">
                El nombre debe tener al menos 3 caracteres
              </div>
            </nb-input-group>
            <button [disabled]="loginForm.invalid" nbButton status="success">
              Ingresar
            </button>
          </form>
        </nb-card-body>
        <nb-layout-row>
          <nb-layout-column class="text-right">
            <p>
              <a routerLink="/auth/recovery-password" style="color: #6de2d9">
                ¿Olvidaste tu contraseña?
              </a>
            </p>
          </nb-layout-column>
        </nb-layout-row>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
