<nb-layout>
  <nb-layout-column>
    <div class="login-container">
      <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-group">
              <label for="documentNumber">
                <nb-icon icon="person-outline"></nb-icon>
                Documento</label
              >
              <input
                formControlName="documentNumber"
                id="username"
                nbInput
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="password">
                <nb-icon icon="unlock-outline"></nb-icon>
                Password</label
              >
              <input
                formControlName="password"
                id="password"
                nbInput
                type="password"
              />
            </div>
            <button [disabled]="loginForm.invalid" nbButton status="success">
              Login
            </button>
          </form>
        </nb-card-body>
        <nb-layout-row>
          <nb-layout-column class="text-right">
            <p>
              <a routerLink="/auth/recovery-password" style="color: #6de2d9">
                ¿Olvidaste tu contraseña?
              </a>
            </p>
          </nb-layout-column>
        </nb-layout-row>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
