<nb-card>
  <nb-card-header>Formulario de Registro</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="submitForm()" [formGroup]="myForm">
      <div class="form-group">
        <nb-input-group>
          <input
            formControlName="name"
            id="name"
            nbInput
            placeholder="Nombre"
          />
        </nb-input-group>
        <div *ngIf="isFieldInvalid('name', 'required')" class="error-message">
          El nombre es requerido
        </div>
        <div *ngIf="isFieldInvalid('name', 'minlength')" class="error-message">
          El nombre debe tener al menos 3 caracteres
        </div>
      </div>
      <div class="form-group">
        <nb-input-group>
          <input
            formControlName="email"
            id="email"
            nbInput
            placeholder="Correo Electrónico"
          />
        </nb-input-group>
        <div *ngIf="isFieldInvalid('email', 'required')" class="error-message">
          El correo electrónico es requerido
        </div>
        <div *ngIf="isFieldInvalid('email', 'email')" class="error-message">
          El correo electrónico no es válido
        </div>
      </div>
      <div class="form-group">
        <nb-input-group>
          <input
            [type]="getInputType()"
            formControlName="password"
            id="password"
            nbInput
            placeholder="Contraseña"
          />
          <button (click)="toggleShowPassword()" ghost nbButton nbSuffix>
            <nb-icon
              [attr.aria-label]="
                showPassword ? 'hide password' : 'show password'
              "
              [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
              pack="eva"
            >
            </nb-icon>
          </button>
        </nb-input-group>
        <div
          *ngIf="isFieldInvalid('password', 'required')"
          class="error-message"
        >
          La contraseña es requerida
        </div>
        <div
          *ngIf="isFieldInvalid('password', 'minlength')"
          class="error-message"
        >
          La contraseña debe tener al menos 6 caracteres
        </div>
      </div>
      <div class="form-group">
        <nb-input-group>
          <input
            formControlName="confirmPassword"
            id="confirmPassword"
            nbInput
            placeholder="Confirmar Contraseña"
            type="password"
          />
        </nb-input-group>
        <div
          *ngIf="isFieldInvalid('confirmPassword', 'required')"
          class="error-message"
        >
          La confirmación de contraseña es requerida
        </div>
        <div
          *ngIf="isFieldInvalid('confirmPassword', 'passwordMismatch')"
          class="error-message"
        >
          Las contraseñas no coinciden
        </div>
      </div>
      <div class="form-group">
        <nb-checkbox formControlName="agreeToTerms"
        >Acepto los términos y condiciones
        </nb-checkbox
        >
        <div
          *ngIf="isFieldInvalid('agreeToTerms', 'required')"
          class="error-message"
        >
          Debes aceptar los términos y condiciones
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="myForm.invalid" nbButton status="primary">
          Registrarse
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
